* {
    padding: 0;
}

body {
     background-image: url("images/seigaiha.png");
}

h1, h2, h3 {
    color: orangered;
    text-transform: uppercase;
}

figcaption {
    color: darkblue;
}

section {
    font-family: Roboto;
    margin-left: 5%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}
        
img {
    width: 90%; 
    height: 90%;
}